# Configuration file for Authentik
# Refer to https://docs.goauthentik.io/docs/install-config/configuration/ for more details
#

# AUTHENTIK_EMAIL
AUTHENTIK_EMAIL__HOST=email-smtp.ap-southeast-2.amazonaws.com
AUTHENTIK_EMAIL__PORT=587
AUTHENTIK_EMAIL__USERNAME=<my username>
AUTHENTIK_EMAIL__PASSWORD=<my password>
AUTHENTIK_EMAIL__USE_TLS=true
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=10
AUTHENTIK_EMAIL__FROM="TAK Auth <authentik@tak.example>"